body {
    background-color: #f3f3f3;
    background-image: url("BackgroundGym2.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f80606;
    font-family: 'Arial', sans-serif; /* Change the font-family to Arial or any other preferred font */
    margin: 0;
    padding: 0;
}

/* Add styles for gym information */
/* Add styles for gym information */
#gymsContainer {
    font-size: 1.2em; /* Adjust the font size */
    line-height: 1.6; /* Adjust the line height for better readability */
    color: #3c3030; /* Change the font color */
    background-color: rgba(255, 255, 255, 0.9); /* Add a white background with some transparency */
    padding: 20px; /* Add some padding for better spacing */
    border-radius: 10px; /* Add rounded corners */
}

#gymsContainer h2 {
    color: #ff0000; /* Change the heading color */
}

#gymsContainer p {
    margin: 10px 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

h1 {
    color: #ff0000;
    text-align: center;
}

nav {
    margin: 5px 0;
}

.tab {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ff0000;
    cursor: pointer;
    color: #f0efef;
    font-weight: bold;
    text-shadow: none;
    font-size: 1.5em;
}

.tab:hover {
    background-color: #ff0000;
    color: white;
}

.tab-content {
    display: none;
    margin-top: 150px;
    text-align: center;
    padding: 25px;
}

.tab-content.active {
    display: block;
}

.tab.about.active {
    background-color: #ff0000;
    color: white;
}

form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input[type="text"], input[type="password"] {
    display: block;
    margin: 10px auto;
    width: 80%;
    padding: 10px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: white;
    color: #ff0000;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}

.title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

